# Copyright {{ copyright_year }} {{ author_name }}
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[build-system]
requires = ["hatchling>=1.25"]
build-backend = "hatchling.build"

[project]
name = "{{ project_slug }}"
dynamic = ["version"]
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">=3.10"
license = "{{ license_id }}"
authors = [
  { name = "{{ author_name }}", email = "{{ author_email }}" },
]
keywords = []
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = []

[project.urls]
Homepage = "{{ repository_url }}"
Documentation = "{{ documentation_url }}"
Repository = "{{ repository_url }}"
Issues = "{{ repository_url }}/issues"
Changelog = "{{ repository_url }}/blob/main/CHANGELOG.md"

[project.scripts]
{{ python_package }} = "{{ python_package }}.cli:main"

[tool.hatch.version]
path = "src/{{ python_package }}/__about__.py"

[tool.hatch.build.targets.sdist]
include = [
  "/src",
  "/tests",
  "/docs",
  "/README.md",
  "/CHANGELOG.md",
  "/LICENSE",
  "/NOTICE",
  "/pyproject.toml",
]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ python_package }}"]

[tool.hatch.envs.types]
extra-dependencies = [
  "mypy==1.19.1",
]
[tool.hatch.envs.types.scripts]
check = "mypy --install-types --non-interactive {args:src/{{ python_package }} tests}"

[tool.coverage.run]
source_pkgs = ["{{ python_package }}", "tests"]
branch = true
parallel = true
omit = [
  "src/{{ python_package }}/__about__.py",
]

[tool.coverage.paths]
{{ python_package }} = ["src/{{ python_package }}", "*/{{ python_package }}/src/{{ python_package }}"]
tests = ["tests", "*/{{ python_package }}/tests"]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]

[tool.hatch.envs.test]
description = "Test environment"
skip-install = false
dependencies = ["pytest==9.0.2", "pytest-cov==7.0.0"]

[tool.hatch.envs.test.scripts]
test = "pytest"
test-q = "pytest -q"
test-cov = "pytest --cov={{ python_package }}"
test-show-setup = "pytest --setup-show"

[[tool.hatch.envs.test.matrix]]
python = ["3.10", "3.11", "3.12", "3.13", "3.14"]

[tool.hatch.envs.dev]
description = "Development environment"
dependencies = [
  "pytest>=9.1.1",
  "ruff>=0.16.0",
]

[tool.hatch.envs.dev.scripts]
lint = "ruff format src tests"
check = "ruff check --fix src tests"
